.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer
}

.warning {
    padding: 5px 15px;
    color: #ff3036;
    font-size: 14px;
    background: transparent;
    border: 1px solid #ff3036;
    cursor: pointer
}